div
	div(ng-show='codoshopVM.dialog.show == false')
		ul
			li
				a(href='#', onclick='return false', ng-click='reset()').reset-btn reset
	.codoshop(ng-attr-codoshop='', ng-attr-resizable='all')
	.modal-wrapper(ng-show='codoshopVM.dialog.show == true')
	//- .modal(ng-attr-modal='')


.marketing
	div
		h2 What is Codoshop?
		p.
			Codoshop is a text editor to help you program. It supports many language and it's free and open source. Download today.
		h2 How is it different?
		h4 Create designs with visual tools
		p.
			Paint with code. Use the traditional programming you're familiar with and create cool graphics with SVG and stuff.
		h4 Visualize code structure
		p.
			See CSS, SASS, and LESS like its a real tangible thing. See the heirarchy. Make adjustments. Popup tools to adjust colors and numbers.
		h4 Aesthetics and usability over features
		p.
			Codoshop assumes that most of the functionality you need for development will come from your own build system (like Gulp and Grunt). This means that
			Codoshop doesn't offer stuff like live reload and 

		slick(settings='slickConfig', media='media1')

		.philosophy
			h4 The text editor of the future...
			p.
				Codoshop is designed to take the best of both the past and the future, and mix it together to form the ultimate tool for you.
				High-tek poly alloys. A learning computer.

			h4 ..and the text editor of the past, combined!
			p.
				Codoshop is designed to take the best of both the past and the future, and mix it together to form the ultimate tool for you.
				High-tek poly alloys. A learning computer.

		.testimonials
			h2 Testimonials
			p.
				For those in the electronic arts, Codoshop is capital in creativity! - science fiction author Isiah Azimov
			p.
				Codoshop is a bicycle for the mind, which helps me code the opposite - a sentient AI for my Schwin. - comedian and entrepreneur Ralph McKenzie


