div(ng-attr-about='')

	//- .codoshop-subtitle "Quod nos facimus, nos."
	

	header.p-b-0
		div
		div
			.fa.fa-download
		div
		div
			div Codoshop
			div A Text editor
	
	.divider
		div

	.flavor-text.p-t-0.p-b-0
		p A free and open-source text editor for creative coding.	
	//- .padding-t-0.padding-b-0 so far, there has been
	//- div.padding-t-0.padding-b-0 there's been
	
	div
		.condensed-font About this 

	.divider-two
		div
	

	.stats2
		div
			div downloads
			div.fa.fa-bomb
		div
			div
		div
			div 839,233
		div
			.fa.fa-bomb
			
	.divider
		div
	.stats2
		div
			div donations
			div.fa.fa-heart
		div
			div
		div
			div 0
		div
			.fa.fa-heart



	.divider
		div


	.stats1
		div
			div price
			div.fa.fa-heart
		div
		div
			div Free
		div
	.divider
		div
	.stats1
		div
			div license
			div.fa.fa-heart
		div
		div
			div MIT
		div
			.fa.fa-download
	.divider
		div

	//- .stats1.padding-b-0
	//- 	div.white Price
	//- 	.fc-fg-1
	//- 	.green Free
	//- .divider
	//- 	div
	//- .stats1.padding-b-0
	//- 	div.white License
	//- 	.fc-fg-1
	//- 	.green MIT
	//- .divider
	//- 	div


	div
		div Available For
		div.white
			span.fa.fa-apple
			span mac
		div.white
			span.fa.fa-globe
			span web
		div.white
			span.fa.fa-windows
			span windows - donate/fork
		div.white
			span.fa.fa-linux
			span linux - donate/fork
	//- ul
	//- 	li
	//- 		a(ui-sref='donate') download
	//- 	li
	//- 		a(ui-sref='donate') donate
	//- 	li
	//- 		a(ui-sref='donate') try it
	//- .btn-row
	//- 	a(href='javascript:void(0)')
	//- 		span
	//- 		span.label download
	//- 		span
	//- 	a(ui-sref='donate')
	//- 		span
	//- 		span.label donate
	//- 		span

//- div.codoshop-modal-btn-wrapper
//- a(href='javascript:void(0)', ng-click='tryIt()').codoshop-btn-modal-close
//- 	//- div.fa.fa-angle-down
//- 	div more info
