div(ng-attr-about='')

	//- .codoshop-subtitle "Quod nos facimus, nos."
	div

	header
		div
		div
			div
				.fa.fa-gears.dark-blue
		div
		div
			div Codoshop
			div A text editor

	div
	//- .divider
	//- 	div


	//- .padding-t-0.padding-b-0 so far, there has been
	//- div.padding-t-0.padding-b-0 there's been

	//- div
	//- 	.condensed-font About this 

	//- .divider
	//- 	div
	//- 		div



	.flavor-text
		p "A free and open-source text editor made for creative programmers."

	.divider
		div
			div

	//- div
	//- 	p.cond About Codoshop:
	//- div
	//- 	p.cond
	//- 		span.fa.fa-arrow-right.blue
	//- 		span.white &nbsp;donate
	//- 		span &nbsp;(donations support development.)

	a(ui-sref='donate').stats2
		div
			.fa.fa-download
		div
			div
				p.cond Check out the GitHub repo also.
			div 248,148
			div
				div
					div /
					div.
						Also, check out the <br/> github repo!
				div
				div
					//- span.fa.fa-download
					span downloads //
			//- div &nbsp;(donations support development.)
	//- div
	//- 	p.cond Donations support development.
	//- div
	//- 	p.cond About Codoshop:
	//- .divider
	//- 	div
	//- 		div

	.divider
		div
			div

	a(ui-sref='donate').stats2
		div
			.fa.fa-heart.dark-blue
		div
			div
				p.cond Donations support development.
			.dark-blue 14
			.dark-blue
				div
					div /
					div.
						Donnations support <br/> development
				div
				div
					//- span.fa.fa-heart
					span donations //
					span
		
	.divider
		div
			div
			//- div &nbsp;(donations support development.)
	div.flex.codoshop-modal-3
		.codoshop-modal-big-icon.fa.fa-laptop
		div
			div available for
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-apple.ng-hide
				span &#187; mac
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-globe.ng-hide
				span &#187; web
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-windows.ng-hide
				span &#187; windows - donate/fork to get it on windows
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-linux.ng-hide
				span &#187; linux - donate/fork to get it on linux

	//- .divider-two
	//- 	div
	//- 		div
	//- div donations support development

	//- .divider
	//- 	div
	//- 		div


	//- .stats1
	//- 	div price&nbsp;
	//- 	div Free!

	//- //- .divider
	//- //- 	div
	//- .stats1
	//- 	div license&nbsp;
	//- 	div MIT (open-source)

	//- .divider
	//- 	div
	//- 		div

	//- .stats1.padding-b-0
	//- 	div.white Price
	//- 	.fc-fg-1
	//- 	.green Free
	//- .divider
	//- 	div
	//- .stats1.padding-b-0
	//- 	div.white License
	//- 	.fc-fg-1
	//- 	.green MIT
	//- .divider
	//- 	div


	div
		div
			span.fa.fa-laptop
			span &nbsp;Available For
		div
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-apple.ng-hide
				span &#187; mac
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-globe.ng-hide
				span &#187; web
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-windows.ng-hide
				span &#187; windows - donate/fork to get it on windows
			div.white
				span &nbsp;&nbsp;&nbsp;&nbsp;
				span.fa.fa-linux.ng-hide
				span &#187; linux - donate/fork to get it on linux

	footer
		ul
			li
				a(ui-sref='donate') download
			li
				a(ui-sref='donate') donate
			li
				a(ui-sref='donate') more info
	//- .btn-row
	//- 	a(href='javascript:void(0)')
	//- 		span
	//- 		span.label download
	//- 		span
	//- 	a(ui-sref='donate')
	//- 		span
	//- 		span.label donate
	//- 		span

//- div.codoshop-modal-btn-wrapper
//- a(href='javascript:void(0)', ng-click='tryIt()').codoshop-btn-modal-close
//- 	//- div.fa.fa-angle-down
//- 	div more info
