div(ng-attr-about='')

	//- .codoshop-subtitle "Quod nos facimus, nos."
	div

	header
		div
		div
			div
				.fa.fa-gears.dark-blue
		div
		div
			div Codoshop
			div A text editor

	div
	//- .divider
	//- 	div


	//- .padding-t-0.padding-b-0 so far, there has been
	//- div.padding-t-0.padding-b-0 there's been

	//- div
	//- 	.condensed-font About this 

	//- .divider
	//- 	div
	//- 		div



	.flavor-text
		p 
			| A open-source 
			span text editor 
			| for creative coding

	div
		p
			span
			a(href='https://github.com/Codoshop/Codoshop-Web') Visit the GitHub repo.

	//- .divider-5
	//- 	div
	//- 		div

	//- div
	//- 	p.cond About Codoshop:
	//- div
	//- 	p.cond
	//- 		span.fa.fa-arrow-right.blue
	//- 		span.white &nbsp;donate
	//- 		span &nbsp;(donations support development.)

	//- ul.codoshop-modal-about



	//- .divider-5
	//- 	div
	//- 		div


	//- div
	//- 	p
	//- 		a(href='https://github.com/Codoshop/Codoshop-Web') GitHub

	div.codoshop-bg-2
		.text-thing-1
			div 8,148
			div downloads

		.text-thing-2
			div 104
			div donations

	div
		p.cond Codoshop is free to download, use, whatever. Use it to make stuff. You're limited only by your imagination. And also by the legal and ethical rules of whatever society you live in.

	section.codoshop-platforms
		//- div
		//- 	.fa.fa-laptop
		//- 	.cond Available
		//- div
		//- 	.cond
		//- 		span Codoshop is currently available on
		ul
			li
				.fa.fa-globe
			li
				.fa.fa-apple
			li
				.fa.fa-windows
			li
				.fa.fa-linux


	//- .divider
	//- 	div
	//- 		div
			//- div &nbsp;(donations support development.)


	footer
		ul
			li
				a(ui-sref='donate') download
			li
				a(ui-sref='donate') donate
			li
				a(ui-sref='donate') more info
	//- .btn-row
	//- 	a(href='javascript:void(0)')
	//- 		span
	//- 		span.label download
	//- 		span
	//- 	a(ui-sref='donate')
	//- 		span
	//- 		span.label donate
	//- 		span

//- div.codoshop-modal-btn-wrapper
//- a(href='javascript:void(0)', ng-click='tryIt()').codoshop-btn-modal-close
//- 	//- div.fa.fa-angle-down
//- 	div more info
