@import '../../app/main/variables';
@import '../../app/main/mixins';
// .codoshop-modal-btn-wrapper {
// 	display: flex;
// 	justify-content: center;
// }
// a.codoshop-btn-modal-close {
			
// 	width: 100%;
// 	// height: 20px;
// 	margin-bottom: 0px;
// 	padding: 10px 10px;
// 	border: 1px solid rgba(#fff, 0.2);
// 	border-bottom: none;
// 	// border-radius: 10px 10px 0 0;
// 	// position: absolute;
// 	// top: 10px;
// 	// right: 10px;
// 	display: flex;
// 	justify-content: center;
// 	// align-items: center;
// 	flex-shrink: 0;
// 	font-size: 11px;
// 	font-weight: 500;
// 	letter-spacing: 10px;
// 	text-transform: uppercase;
// 	text-decoration: none;
// 	color: rgba(#ffff00, 0.6);
// 	// background-color: rgba(#2ebbe5, 0.5);
// 	> div {
// 		font-weight: inherit;
// 	}

// }


div[ng-attr-about] {
	// border: 1px solid rgba(#444, 0.2);
	// font-size: $font-size-h4;
	// font-weight: 200;
	// text-shadow:
	// 	0 0 0.5px rgba(#fff, 0.6)
	// ;
	// color: transparent;

	// div {
	// 	font-weight: inherit;
	// }
	// > div, > p, > header {
	// 	margin: 0;
	// 	padding: 20px 20px;
	// 	background: 
	// 		linear-gradient( rgba(#000109, 0.4) 0%, rgba(#000109, 0.4) )
	// 	;
	// }



	.p-t-0 {
		padding-top: 0;
	}
	.p-b-0 {
		padding-bottom: 0;
	}
	
	
	.flavor-text {
		padding-top: 20px;
		padding-bottom: 18px;
		font-size: 14px;
		// font-family: $font-family-serif;
		// font-weight: 200;
		font-style: italic;
		> p {
			padding: 0;
			margin: 0;
			@include condensed-font();
		}
	}
	.stats1 {
		padding-top: 0;
		display: flex;
		font-weight: 600;
		> div {
			@include condensed-font();
		}
		// > div:first-child, > div:last-child {
			
		// }
		.fc-fg-1 {
			flex-grow: 1;
		}
	}
	.stats2 {
		height: 59px;
		padding-top: 0;
		padding-bottom: 2px;
		display: flex;
		// text-shadow:
		// 	0 0 0.5px rgba(#fff, 0.3)
		// ;
		$color: rgba(#d4ff00, 0.8);
		color: $color;
		// background: 
		// 		linear-gradient( rgba(#fff, 0.3) 0%, rgba(#fff, 0.3) )
		// 	;

		> div:nth-child(1) {
			// display: none;
			width: 60px;
			margin: 8px 0 0 0;
			// position: relative;
			// top: 7px;
			flex-shrink: 0;
			// text-align: right;
			text-transform: lowercase;
			// line-height: 1;
			> div:first-child {
				display: none;
				font-size: 12px;
				font-weight: 100;
				color: rgba(#fff, 0.7);
				@include condensed-font();
			}
			> div:last-child {
				
				font-size: 18px;
			}
		}
		> div:nth-child(2) {
			width: 1px;
			padding: 5px 0;
			margin: 0 10px;
			display: flex;
			flex-shrink: 0;
			&:before {
				content: '';
				flex-grow: 1;
				background: 
					linear-gradient( rgba(#666, 0.2) 0%, rgba(#666, 0.2) )
				;
			}
			
		}
		> div:last-child {
			margin: 2px 0 0 0;
			display: flex;
			// flex-direction: column;
			flex-grow: 1;
			color: rgba(#fff, 0.8);
			text-transform: lowercase;
			> div:nth-child(1) {
				font-size: 48px;
				font-weight: 200;
				line-height: 1;
				@include condensed-font(25, 0px);
				text-shadow:
					0 2px 0 rgba(#000, 0.6)
				;
			}
			// > div:nth-child(2) {
			// 	flex-grow: 1;
			// }
			// > div:last-child {
			// 	margin: 0 0 0 0;
			// 	font-size: 16px;
			// 	font-weight: 100;
			// 	// line-height: 1;
			// 	color: $color;
			// 	@include condensed-font();
			// }
		}
	}
	.stats2 + .stats2 {
		padding-bottom: 16px;
	}
	// Title Bar
	> header {
		// padding-top: 40px !important;
		// padding-bottom: 20px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		display: flex;
		background: none;

		> div:nth-child(1), > div:nth-child(3), > div:nth-child(4) {
			// background: 
			// 	linear-gradient( rgba(#666, 0.5) 0%, rgba(#666, 0.5) )
			// ;
		}
		> div:nth-child(1) {
			width: 20px;
			
		}
		> div:nth-child(3) {
			width: 20px;
			
		}
		> div:nth-child(2) {
			display: flex;
			flex-direction: column;
			&:before, &:after {
				content: '';
				height: 5px;
				// background: 
				// 	linear-gradient( rgba(#666, 0.5) 0%, rgba(#666, 0.5) )
				// ;
			}
		}
		.fa {
			// display: none;
			width: 55px;
			height: 55px;
			margin: 0 0 0 0;
			border: 2px solid rgba(#fff, 0.7);
			border-radius: 50px;
			font-size: 50px;
			// background: 
			// 	linear-gradient( rgba(#ffff00, 0.7) 0%, rgba(#ffff00, 0.7) )
			// ;
		}
		// text
		> div:nth-child(4) {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			&:before {
				content: '';
				height: 2px;
				// background: 
				// 	linear-gradient( rgba(#000109, 0.4) 0%, rgba(#000109, 0.4) )
				// ;
			}
			> div:nth-child(1) {
				line-height: 1;
				// text-transform: uppercase;
				font-size: 42px;
				font-weight: 500;
				text-transform: uppercase;
				color: rgba(#fff, 0.8);
				// text-shadow:
				// 	0 0 0.5px rgba(#eee, 0.9)
				// , 	0 2px 0 rgba(#000, 0.6)
				// ;
			}
			> div:nth-child(2) {
				font-size: $font-size-h4;
				font-weight: 200;
				text-transform: uppercase;
				// line-height: 1;
				color: rgba(#fff, 0.6);
				@include condensed-font();
			}
		}
	}




	// > p > a {
	// 	$blue: rgba(#00d7ff, 0.6);
	// 	// letter-spacing: -0.05em;
		
	// 	font-weight: 400;
	// 	text-decoration: none;
	// 	color: rgba(#fff, 0.0);
	// 	text-shadow: 0 0 0.05rem rgba(#fff, 0.7);



	// 	.popover {
	// 		background-color: rgba(0,0,0,0.85);
	// 		border-radius: 5px;
	// 		bottom: 42px;
	// 		box-shadow: 0 0 5px rgba(0,0,0,0.4);
	// 		color: #fff;
	// 		display: none;
	// 		font-size: 2.3rem;
	// 		font-weight: 100;
	// 		left: -95px;
	// 		padding: 7px 10px;
	// 		position: absolute;
	// 		width: 200px;
	// 		z-index: 4;
			
	// 		&:before {
	// 			border-top: 7px solid rgba(0,0,0,0.85);
	// 			border-right: 7px solid transparent;
	// 			border-left: 7px solid transparent;
	// 			bottom: -7px;
	// 			content: '';
	// 			display: block;
	// 			left: 50%;
	// 			margin-left: -7px;
	// 			position: absolute;
	// 		}
	// 	}
	// 	&:hover {
	//       .popover {
	//         display: block;
	//         -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
	//         -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
	//         -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
	//       }
	// 	}
	// }


}

