div(ng-attr-about='')

	//- .codoshop-subtitle "Quod nos facimus, nos."
	div

	header

		div
			div
				.fa.fa-code
		
		div
		div
			div Codoshop
			div a text editor for visual code
		div
		

		div
			div
				div
					//- span q
					//- span u
					//- span o
					//- span d
					//- br
					//- span n
					//- span o
					//- span s
					//- br
					//- span f
					//- span a
					//- span c
					//- span i
					//- span m
					//- span u
					//- span s
					//- br
					//- span n
					//- span o
					//- span s
	div
	//- .divider
	//- 	div


	//- .padding-t-0.padding-b-0 so far, there has been
	//- div.padding-t-0.padding-b-0 there's been

	//- div
	//- 	.condensed-font About this 

	//- .divider
	//- 	div
	//- 		div



	//- .flavor-text
	//- 	p 
	//- 		| a 
	//- 		span text editor 
	//- 		| for code
	//- 		//- span.fa.fa-github
	//- 	a(href='javascript:void(0)') try it

	//- div
	//- 	p
	//- 		span
	//- 		a(href='https://github.com/Codoshop/Codoshop-Web') Visit the GitHub repo.

	//- .divider-5
	//- 	div
	//- 		div

	//- div
	//- 	p.cond About Codoshop:
	//- div
	//- 	p.cond
	//- 		span.fa.fa-arrow-right.blue
	//- 		span.white &nbsp;donate
	//- 		span &nbsp;(donations support development.)

	//- ul.codoshop-modal-about



	//- .divider-5
	//- 	div
	//- 		div


	//- div
	//- 	p
	//- 		a(href='https://github.com/Codoshop/Codoshop-Web') GitHub

	//- .divider
	//- 	div
	//- 		div
	div
		div
			.cond free, open-source, multi-platform
			ul
				li
					.fa.fa-globe
				li
					.fa.fa-apple
				li
					.fa.fa-windows
				li
					.fa.fa-linux
			div
			a(href='javascript:void(0)').cond try it >
				//- span.fa.fa-angle-right
				//- span.fa.fa-angle-right
				//- span.fa.fa-angle-right

	//- .divider
	//- 	div
	//- 		div

	//- .text-thing-1
	//- 	div
	//- 		.fa.fa-download
	//- 	div
	//- 		div free / open-source
	//- 	div try it

	.text-thing-1
		div
			div
			.fa.fa-download
		div
			div {{donStats.downloads}}
		div downloads


	.text-thing-2
		div
			div
			a(ui-sref='donate')
				.fa.fa-heart
		div
			span
			span {{donStats.donations}}
		div donations

	.text-thing-2
		div
			div
			.fa.fa-heart
		div
			span
			span {{donStats.subscribers}}
		div subscribers
	//- .divider
	//- 	div
	//- 		div
	

	//- section.codoshop-copy
	//- 	p.cond Codoshop currently supports these platforms

	//- div(style='padding-top: 5px; color: #444; font-weight: 900; font-size: 14px;') 8,148 // 147

	//- section.codoshop-platforms
	//- 	ul
	//- 		li
	//- 			.fa.fa-globe
	//- 		li
	//- 			.fa.fa-apple
	//- 		li
	//- 			.fa.fa-windows
	//- 		li
	//- 			.fa.fa-linux


	//- .divider
	//- 	div
	//- 		div
			//- div &nbsp;(donations support development.)


	footer
		ul
			li
				a(ui-sref='donate') more info
			li
				a(ui-sref='donate') github
			li
				a(ui-sref='donate') twitter
	//- .btn-row
	//- 	a(href='javascript:void(0)')
	//- 		span
	//- 		span.label download
	//- 		span
	//- 	a(ui-sref='donate')
	//- 		span
	//- 		span.label donate
	//- 		span

//- div.codoshop-modal-btn-wrapper
//- a(href='javascript:void(0)', ng-click='tryIt()').codoshop-btn-modal-close
//- 	//- div.fa.fa-angle-down
//- 	div more info
