$codoshop-dialog-padding: 20px;

$codoshop-dialog-bg-color-1: rgba(#666, 0.8);
$codoshop-bg-color-10: #009dff;
$codoshop-yellow: rgba(#ffff00, 0.6);

$codoshop-color-11: rgba(desaturate(#0000ff, 20), 0.5);
$codoshop-color-11: darken($codoshop-color-11, 20);

@mixin codoshop-bg-2() {
	background: 
			linear-gradient( 90deg, rgba(darken($codoshop-bg-color-10, 25), 0.5), rgba($codoshop-bg-color-10, 0.5) )
		;
}

$codoshop-divider-color-1: rgba(#0000ff, 0.5);