@import '../../app/main/variables';
@import '../../app/main/mixins';
@import '_modal.scss';

div[ng-attr-modal] {
	width: 640px;
	// border: 1px solid rgba(#444, 0.2);
	display: flex;
	flex-direction: column;
	font-size: 14px;
	font-weight: 200;
	// text-shadow:
	// 	0 0 0.5px rgba(#fff, 0.4)
	// ;
	color: rgba(#444, 0.8);
	color: rgba(#bbb, 0.9);
	color: rgba(#fff, 0.4);

	box-shadow:
		// -15px 15px 5px rgba(#fff, 0.5), 0028b1
		0 2px 25px rgba(#00232d, 0.9)
		;
	filter: drop-shadow(16px 16px 10px rgba(#000, 0.9));

	$tint: $codoshop-color-11;

	> div[ui-view] {
		
		background: 
			linear-gradient( $tint, $tint )
		;
	}

	> div:not(:last-child) {
		flex-shrink: 0;
	}
	> div:last-child {
		flex-grow: 1;
	}
	> div > div {
		> div, > header, > a, > ul, > section {
			margin: 0;
			padding-left: $codoshop-dialog-padding;
			padding-right: $codoshop-dialog-padding;
			background: 
				linear-gradient( $codoshop-dialog-bg-color-1, $codoshop-dialog-bg-color-1 )
			;
		}
	}

	.white {
		color: rgba(#fff, 0.8);
		// text-shadow:
		// 	0 0 0.5px rgba(#fff, 0.6)
		// ;
	}
	.blue {
		text-transform: uppercase;
		text-shadow:
			0 0 0.5px rgba(#00dfff, 0.7)
		;
	}
	.dark-blue {
		// text-transform: uppercase;
		// text-shadow:
		// 	0 0 0.5px rgba(#00499c, 0.8)
		// ;
		color: rgba(#00499c, 0.8);
	}
	.green {
		font-weight: 500;
		text-shadow:
			0 0 0.5px rgba(#00a7ff, 0.7)
		;
	}
	.condensed-font {
		@include condensed-font();
	}

	.padding-t-0 {
		padding-top: 0;
	}
	.padding-b-0 {
		padding-bottom: 0;
	}

	.divider {
		// height: 1px;
		padding: 0;
		// margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		background: none;
		&:before, &:after {
			content: '';
			flex-shrink: 0;
			background: 
				linear-gradient( $codoshop-dialog-bg-color-1, $codoshop-dialog-bg-color-1 )
			;
		}
		// &:before {
		// 	height: 10px;
		// }
		// &:after {
		// 	height: 9px;
		// }
		> div {
			height: 1px;
			display: flex;
			flex-shrink: 0;
			> div {
				flex-grow: 1;
				background: 
					linear-gradient( $codoshop-divider-color-1, $codoshop-divider-color-1 )
				;
			}
			&:before, &:after {
				content: '';
				width: $codoshop-dialog-padding;
				flex-shrink: 0;
				background: 
					linear-gradient( $codoshop-dialog-bg-color-1, $codoshop-dialog-bg-color-1 )
				;
			}
		}
	}
	.divider-0 {
		@extend .divider;
	}
	.divider-1 {
		@extend .divider;
		&:before {
			height: 10px;
		}
		&:after {
			height: 9px;
		}
	}
	.divider-2 {
		@extend .divider;
		> div {
			height: 2px;
		}
	}
	.divider-3 {
		@extend .divider;
		&:before, &:after {
			height: 9px;
		}
		> div {
			height: 2px;
		}
	}
	// .divider + div {
	// 	padding-top: 4px;
	// }
	
	ul.codoshop-modal-main-tabs {
		height: 40px;
		// border: 1px solid rgba(#fff, 0.1);

		display: flex;

		// filter: drop-shadow(0px 16px 10px rgba(#000, 0.2));
		> li {
			// width: 80px;
			// height: 100%;
			border-top: 0px solid rgba(#fff, 0.05);
			border-bottom: 0px solid rgba(#fff, 0.1);
			// border-bottom: 0px solid $codoshop-dialog-bg-color-1;;
			display: flex;
			// align-items: center;
			flex-shrink: 0;
			// font-weight: 400;
			
			&:after {
				content: '';
				width: 1px;
			}
			> a {
				// height: 100%;
				// width: 100px;
				// margin-right: 10px;
				padding: 0 20px;
				display: flex;
				align-items: center;
				flex-grow: 1;
				font-size: 13px;
				// font-weight: 200;
				// letter-spacing: 1px;
				text-transform: lowercase;
				text-decoration: none;
				text-shadow:
					none
				;
				color: rgba(#fff, 0.4);
				$c: darken($codoshop-dialog-bg-color-1, 0);
				// background: 
				// 	linear-gradient( $c, $c )
				// ,	linear-gradient( $tint, $tint )

				// ;
				@include condensed-font();


				&:hover {
					color: rgba(#fff, 0.8);
				}

			}

			// &:first-child {
			// 	> a {

			// 	}
			// }
			&:nth-last-child(1) {
				border: none;
				display: none;
				flex-direction: column;
				> a {
					display: none;
					font-size: 16px;
					// font-weight: 400;
					text-transform: lowercase;
					color: rgba(#ffff00, 0.8);
					background-color: transparent;
					background: none;
				}
				&:after {
					content: '';
					width: auto;
					height: 1px;
					align-self: flex-end;
					background-color: $codoshop-dialog-bg-color-1;
				}
			}
		}

		> li:nth-last-child(2) {
			display: none;
			height: 1px;
			border: none;
			flex-grow: 1;
			flex-shrink: 1;
			align-self: flex-end;
			background-color: $codoshop-dialog-bg-color-1;
		}
		
	}

	ul.codoshop-modal-main-tabs + div {
		height: 1px;
		padding: 0;
		background-color: rgba(#fff, 0.0);
	}

	footer {
		> ul {
			height: 40px;
			padding: 0 $codoshop-dialog-padding;
			display: flex;
			background-color: rgba(#000, 0.5);
			> li {
				margin-right: 10px;
				// font-size: 16px;
				font-weight: 100;
				line-height: 40px;
				text-transform: capitalize;
				color: rgba(#fff, 0.6);
				> a {
					@include condensed-font();
					line-height: inherit;
					color: inherit;
				}

			}
		}
	}

}

