//- div.codoshop-modal-btn-wrapper
//- a(href='javascript:void(0)', ng-click='tryIt()').codoshop-btn-modal-close
//- 	div About


ul.codoshop-modal-main-tabs
	li
		a(ui-sref='index') About
	li
		a(ui-sref='donate') Donate
	li
		a(href='javascript:void(0)') Download
	//- li
	//- 	a(href='javascript:void(0)') More info a(ui-sref='donate')
	li
	li
		a(href='javascript:void(0)') [ Try it ]
div

div(ui-view='modal')
