@import 'main/base';

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;

	// @include background(
		
	// 	radial-gradient( center 600px, ellipse 300px 300px, rgba(#fff, 0.9), rgba(#fff, 0.0) 80%, rgba(#fff, 0) ),
	// 	radial-gradient( center 900px, circle 700px, rgba(#fff, 0.3), rgba(#fff, 0) ),
			
	// 	radial-gradient( center 700px, circle 800px, rgba(#000, 0.0) 0%, rgba(#000, 0.0) 30%, rgba(#000, 0.9) ),
	// 	linear-gradient( 0deg, rgba(#666372, 1) 0%, rgba(#1f1d26, 1) 100%) left repeat

	// );

	background: 
		radial-gradient( ellipse 300px 300px, rgba(#fff, 0.9), rgba(#fff, 0.0) 80%, rgba(#fff, 0))
	,	radial-gradient( circle 700px, rgba(#fff, 0.3), rgba(#fff, 0))
			
	,	radial-gradient( circle 800px, rgba(#000, 0.0) 0%, rgba(#000, 0.0) 30%, rgba(#000, 0.9))
	,	linear-gradient( rgba(#666372, 1) 0%, rgba(#1f1d26, 1) 100%) left repeat
	;


	background-position:
		center center,
		0px 0px,
		0px 10px,
		50% 50%;

}

body > main {
	width: 100%;
	height: 100%;
	position: relative;

	> div:first-child {
		width: 100%;
		height: 100%;
		position: relative;

		> div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			&:nth-child(1) {
				z-index: 1;
			}
			&:nth-child(2) {
				z-index: 2;
			}
		}
		
	}

}

	.codoshop {
		width: calc(100% - 200px);
		height: calc(100% - 150px);
	}





