@import '../../app/main/variables';
@import '../../app/main/mixins';
@import '../modal/_modal.scss';

div[ng-attr-donate] {
	
	// > h2, > h3, > h4 {
	// 	background: 
	// 			radial-gradient( ellipse 500px 600px, rgba(#fff, 0.05) 50%, rgba(#fff, 0.0) 80%, rgba(#fff, 0) )
	// 		,	radial-gradient( circle 400px, rgba(#fff, 0.05), rgba(#fff, 0) )
	// 	;
	// }
	// > a {
	// 	height: 20px;
	// 	border-top: 1px solid rgba(#fff, 0.2);
	// 	// border-left: 1px solid rgba(#fff, 0.2);
	// 	display: block;

	// 	font-size: 16px;
	// 	text-decoration: none;
	// 	color: rgba(#ffff00, 0.6);
		
	// 	// background: 
	// 	// 		radial-gradient( ellipse 500px 600px, rgba(#000, 0.02) 50%, rgba(#fff, 0.0) 80%, rgba(#fff, 0) )
	// 	// 	,	radial-gradient( circle 400px, rgba(#fff, 0.05), rgba(#fff, 0) )
	// 	// ;
	// }
	// .divider {
	// 	&:before, &:after {
	// 		height: 0px;
	// 	}
	// }

	header {
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		> h2, > div {
			flex-shrink: 0;
		}
		> h2 {
			margin-right: 10px;
			padding-right: 10px;
			// border-right: 2px solid rgba(#fff, 0.9);
			
			// text-transform: lowercase;
			// letter-spacing: -1px;
			// @include condensed-font(25, 0px);
			color: rgba(#fff, 0.6);
		}
		// > div {
		// 	font-size: 12px;
		// 	@include condensed-font();
		// 	color: rgba(#fff, 0.9);
		// }
	}

	p {
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.codoshop-donate-row {
		$cellW2: 110px;
		display: flex;
		input {
			width: $cellW2;
			// padding-bottom: 10px;
			// border: none;
			// border: 1px solid rgba(#fff, 0.7);
			position: relative;
			top: -1px;
			border: none;
			font-size: 42px;
			font-weight: inherit;
			line-height: inherit;
			text-align: right;
			background: none;
			&:focus {
				border: none;
				outline: none;
			}
		}

		> div:nth-child(1) {
			font-size: 42px;
			color: rgba(#000, 0.3);
		}
		> div:nth-child(2) {
			width: $cellW2;
			display: flex;
			flex-wrap: wrap;
			flex-shrink: 0;
			&:after {
				content: '';
				width: 100%;
				height: 1px;
				flex-grow: 1;
				align-self: flex-end;
				background-color: rgba(#0000ff, 0.8);
			}
			input, > div {
				height: 100%;
				flex-grow: 1;
				flex-shrink: 0;
				color: rgba(#0000ff, 0.8);
			}
		}
		> div:nth-child(3) {
			position: relative;
			display: flex;
			flex-grow: 1;
			// progressbar
			> div:nth-child(1) {
				display: flex;
				flex-grow: 1;
				> div {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					> div {
						// content: '';
						width: 1px;
						// height: auto;
						height: 90%;
						flex-shrink: 0;
						background-color: black;
					}
					&:after {
						content: '';
						width: 100%;
						height: 1px;
						// flex-grow: 1;
						align-self: flex-end;
						background-color: black;
					}
				}
			}
			// label
			> div:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.bar {
		width: 100%;
		height: 40px;
		padding: 0;
		// position: relative;
		display: flex;
		background-color: transparent;
		background: none;

		$numberCellW: 110px;
		// &:before, &:after {
		// 	content: '';
		// 	height: 1px;
		// 	background-color: $codoshop-divider-color-1;
		// }

			&.codoshop-first {
				> div {
					&:before {
						content: '';
						// height: 1px;
						// flex-shrink: 0;
						background-color: $codoshop-divider-color-1;
					}
				}
			}
			&:before, &:after {
				content: '';
				width: $codoshop-dialog-padding;
				background-color: $codoshop-dialog-bg-color-1;
			}


			> div {
				display: flex;
				flex-direction: column;
				&:before, &:after, > div:before, > div:after {
					flex-shrink: 0;
					background-color: $codoshop-divider-color-1;
				}
				&:before, &:after {
					height: 1px;
				}

				&:after {
					content: '';
				}
				> div {
					display: flex;
					flex-grow: 1;
					&:before, &:after {
						width: 1px;
					}
					&:after {
						content: '';
					}
					> div, > input {
						background-color: $codoshop-dialog-bg-color-1;
					}
				}
			}
			// > div:nth-child(1), > div:nth-child(2) {
				
			// }
			> div:nth-child(1) {
				font-size: $font-size-h1;
				font-weight: 100;
				line-height: 1;
				text-indent: 5px;
				color: rgba(#0000ff, 0.8);

				> div:before {
					content: none;
				}
				> div:after {
					content: none;
				}
			}
			> div:nth-child(2) {
				width: $numberCellW;

				display: flex;
				flex-shrink: 0;
				flex-direction: column;
				font-size: 42px;
				font-weight: 100;
				line-height: 40px;
				color: rgba(#0000ff, 0.8);

				> div:after {
					content: none;
					// background-color: lighten($codoshop-divider-color-1, 40);
				}
				div {
					flex-grow: 1;
				}
			}
			> div:nth-child(3) {
				flex-shrink: 0;
			}
			> div:nth-child(4) {
				flex-grow: 1;
				> div > div {
					display: flex;
					// justify-content: center;
					// align-items: center;
					flex-grow: 1;
					position: relative;
					background-color: transparent;
					> div:nth-child(1) {

						display: flex;
						flex-grow: 1;
						// width: 100%;
						// height: 100%;
						> div, &:after {
							flex-shrink: 0;
						}
						// &:before {
						// 	content: '';
						// 	width: 10px;
						// 	flex-shrink: 0;
						// 	background-color: darken($codoshop-dialog-bg-color-1, 0);
						// }
						&:after {
							content: '';
							flex-grow: 1;
							background-color: $codoshop-dialog-bg-color-1;
						}
						> div {
							display: flex;
							flex-wrap: wrap;
							// width: 100px;
							// background-color: rgba(#ccc, 0.8);
							> div {

							}
							&:after {
								content: '';
								flex-shrink: 0;
							}
						}
					}
					// Label
					> div:nth-child(2) {
						// width: 100%;
						// height: 100%;
						flex-grow: 1;
						position: absolute;
						top: 0;
						left: 0;
						font-size: $font-size-h5;
						font-weight: 100;
						line-height: 1;
						text-transform: uppercase;
						text-align: center;
						@include condensed-font();
						color: rgba(#fff, 0.8);
					}
				}

				&:before, &:after, > div:before, > div:after {
					background-color: rgba(#fff, 0.5);
				}
				> div:after {
					content: none;
				}
			}

			input {
				width: $numberCellW;
				// padding-bottom: 10px;
				// border: none;
				// border: 1px solid rgba(#fff, 0.7);
				position: relative;
				top: -1px;
				border: none;
				font-weight: inherit;
				line-height: inherit;
				color: rgba(#0000ff, 0.8);
				text-align: right;
				background: none;
				&:focus {
					border: none;
					outline: none;
				}
			}
	}
	.bar + div:not(.bar) {
		height: $codoshop-dialog-padding;	
	}


}
