div(ng-attr-donate='')
	//- a(ui-sref='index') Like Codoshop?
	header
		h2 Donate

	div
		p.cond Donations keep Codoshop alive. You can attach a suggestion to your donation that will help steer me in the direction.

	//- .divider
	//- 	div
	//- 		div

	.codoshop-donate-row(ng-repeat='don in donList', ng-class='{"codoshop-first": $first}')
		div
			div $
		div
			input(ng-model='getters(don)', ng-model-options='{ getterSetter: true }', min='0', type='number', step='any', placeholder='0.0')
		div
			//- progressbar
			div
				div(ng-style='{width: don.progress + "%"}')
					div
			//- label
			div
				div {{don.label}}

	//- .bar(ng-repeat='don in donList', ng-class='{"codoshop-first": $first}')
	//- 	div
	//- 		div
	//- 			div $
	//- 	div
	//- 		div
	//- 			input(ng-model='getters(don)', ng-model-options='{ getterSetter: true }', min='0', type='number', step='any', placeholder='0.0')
	//- 	div
	//- 	div
	//- 		div
	//- 			div
	//- 				div
	//- 					div(ng-style='{width: don.progress + "%"}')
	//- 						div
	//- 				div {{don.label}}

	//- .bar
	//- 	div
	//- 		div
	//- 			div $
	//- 	div
	//- 		div
	//- 			input(ng-model='suggestions.custom.amount', ng-model-options='{ getterSetter: true }', type='number', step='any', placeholder='0.0')
	//- 	div
	//- 		div
	//- 			div
	//- 				div
	//- 					div(ng-style='{width: 0}')
	//- 				div > suggest something else?

	//- .bar
	//- 	div
	//- 		div
	//- 			div $
	//- 	div
	//- 		div
	//- 			input(ng-model='amounts | last : 2 | first', type='number', step='any', placeholder='0.0')
	//- 	div
	//- 		div
	//- 			div
	//- 				div
	//- 					div(ng-style='{width: 0}')
	//- 				div no suggestion
	
	.codoshop-donate-row(ng-class='{"codoshop-first": $first}')
		div
			div $
		div
			div {{total() | currency : '' : 2}}
		div
			//- progressbar
			div
				div(ng-style='{width: 0}')
					div
			//- label
			div
				div total

	.codoshop-donate-row(ng-class='{"codoshop-first": $first}')
		div
			div $
		div
			div
				ul
					li
						a(href='#', onclick='return false;', ng-click='paypal("pay")')
							span.fa.fa-paypal
							span paypal
		div
			//- progressbar
			div
				div(ng-style='{width: 0}')
					div
			//- label
			div
				div payment method

	//- .bar
	//- 	div
	//- 		div
	//- 			div $
	//- 	div
	//- 		div
	//- 			div {{total() | currency : '' : 2}}
	//- 	div
	//- 		div
	//- 			div
	//- 				div
	//- 					div(ng-style='{width: 0}')
	//- 				div < total

	//- form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank')
	//- 	input(type='hidden', name='cmd', value='_s-xclick')
	//- 	input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC0nYmd2zDQQyKQnhyyVGjbsM7ronh/KVNTRdYtZWdTNE0uIcZ2/7N87kha9mc2J5Yy1oxF+iNLoxWonJm/nX7f6AE1DheXWIyRRXrSLz90f7ST9ESgEjNXm9ybo38/QTcWFt/hrc2OmWgVqm1A7g+WdTtPCNrIPJbrxXtqD7XigjELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQId+dDTNdrYMCAgZhIS1snFuhVB2q+X6xLp+8TZW/1QDiSsPkcy1XNPVFcK6yon0VGLSR4mdmEFKktvDpxk0MJFyVjl1IhXK7RAuTohztxRkiGfgsWs5hvc7tFK9hGnkSriHQG+nWSg/WuS0a1+rm10s4snMlNl45qZiXlccX7hLP7lhSQfIOnd0m8Svwpdxm7kH4De7ohoeMezcZoEVCsd+AryqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MTIyMjIyMTI1NVowIwYJKoZIhvcNAQkEMRYEFIG9phAG8yjrcTOzTmc6obfS1ycWMA0GCSqGSIb3DQEBAQUABIGALoHRMB+GZOKd8GAhUhBwO9kz8rUxIVhfqZ98TtHXPUv6FWPZOqc7j1areKT8YziEOZ6diwx4MRioMX4e20gs1uXgHSCHI6EtXoxIZUlgTGVmUscq+7+0iWlwR5deTmLThdOxH67WNUIxx1oIw4xq3i0+zEkYt8dWMAkIJQq4ggM=-----END PKCS7-----\
	//- 	')
	//- 	input(type='hidden', name='amount', value='500')
	//- 	input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
	//- 	img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

	//- form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank')
	//- 	input(type='hidden', name='cmd', value='_xclick')
	//- 	input(type='hidden', name='business', value='zakdances@gmail.com')
	//- 	input(type='hidden', name='lc', value='US')
	//- 	input(type='hidden', name='item_name', value='Codoshop donation')
	//- 	input(type='hidden', name='amount', value='150.00')
	//- 	input(type='hidden', name='currency_code', value='USD')
	//- 	input(type='hidden', name='button_subtype', value='services')
	//- 	input(type='hidden', name='no_note', value='0')
	//- 	input(type='hidden', name='bn', value='PP-BuyNowBF:btn_paynow_LG.gif:NonHostedGuest')
	//- 	input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
	//- 	img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

	form#codoshop-donation-form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank', style='display: none;')
		input(type='hidden', name='cmd', value='_xclick')
		input(type='hidden', name='business', value='zakdances@gmail.com')
		input(type='hidden', name='lc', value='US')
		input(type='hidden', name='item_name', value='Codoshop donation')
		input(type='hidden', name='amount', value='20.00')
		input(type='hidden', name='currency_code', value='USD')
		input(type='hidden', name='button_subtype', value='services')
		input(type='hidden', name='bn', value='PP-BuyNowBF:btn_paynow_LG.gif:NonHosted')
		input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
		img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

	div


	footer
		//- .coinbase-button(data-code='eae403700bd7f90f6afdd533d96c1a66', price_string='100', data-button-style='none')
		//- script(src='https://www.coinbase.com/assets/button.js', type='text/javascript')
		ul
			li
				a(href='#', onclick='return false;')
					span All payment methods are secure
			//- 		span.fa.fa-bitcoin
			//- 		span bitcoin
			//- //- li
			//- //- 	a(ui-sref='donate')
			//- //- 		span.fa.fa-bitcoin
			//- //- 		span litecoin
			//- li
			//- 	a(ui-sref='donate')
			//- 		span.fa.fa-bitcoin
			//- 		span dogecoin


